@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  color-scheme: light-dark;
  --bg-gray: #1D1D1B;
  --inter: 'Inter', sans-serif;
  --retina-dpi: 144dpi;
  --retina-dppx: 1.5dppx;
  --mobile-width: 320px;
  --md-mobile-width: 420px;
  --bg-mobile-width: 480px;
  --tablet-width: 768px;
  --laptop-width: 1024px;
  --desktop-width: 1200px;
  --bgdesktop-width: 1900px;
  --mobile-pads: 20px;
  --tablet-pads: 20px;
  --desktop-pads: 20px;
  --fast: all 0.25s cubic-bezier(0.62, 0.28, 0.23, 0.99);
  --default: all 0.6s cubic-bezier(0.62, 0.28, 0.23, 0.99);
  --slow: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --scale: 100vw/1400;
}

.container {
  grid-template-columns: calc($size / $root-font-size * 1rem) calc($size / $root-font-size * 1rem) calc($size / $root-font-size * 1rem) calc($size / $root-font-size * 1rem) calc($size / $root-font-size * 1rem);
  padding: 0 var(--desktop-pads);
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  background: var(--main-orange);
}

body {
  background-color: var(--bg-gray);
  font-family: var(--inter);
  font-weight: 400;
  font-size: calc($size / $root-font-size * 1rem);
  font-display: swap;
  color: white;
  scrollbar-gutter: stable;
  overscroll-behavior: auto;
  opacity: 0;
  transition: var(--slow);
}

@media (min-width: 1200px) {
  body {
    font-size: calc($size / ($viewport-vidth / 100) * 1vw);
  }
}

img {
  width: 100%;
  height: auto;
  aspect-ratio: attr(width)/attr(height);
}

a {
  text-decoration: none;
}

.list-style-none {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  padding: calc($size / $root-font-size * 1rem) 0 calc($size / $root-font-size * 1rem) 0;
  transform: translate(0px, -40px);
  opacity: 0;
  transition: var(--default);
  transition-delay: 0.5s;
}

.header__nav.header--visible {
  transform: translate(0px, 0px);
  opacity: 1;
}

.header__link {
  font-size: calc($size / $root-font-size * 1rem);
  color: white;
  transition: var(--fast);
}

.header__link:hover {
  opacity: 0.6;
}

@media (min-width: 1200px) {
  .header__link {
    font-size: calc($size / ($viewport-vidth / 100) * 1vw);
  }
}

.header__image {
  overflow: hidden;
}

.header__picture {
  max-height: calc($size / $root-font-size * 1rem);
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 768px) {
  .header__picture {
    height: 69vh;
  }
}

.header__title {
  position: relative;
  font-size: clamp(42px, 13.125vw, 135px);
  text-align: center;
  mix-blend-mode: difference;
  z-index: 1;
  transform: translate(0px, 100px);
  opacity: 0;
  transition: var(--default);
  transition-delay: 0.9s;
}

.header__title.title--visible {
  transform: translate(0px, 0px);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .header__title {
    padding: calc($size / $root-font-size * 1rem) 0;
  }
}

@media (min-width: 768px) {
  .header__title {
    margin-top: calc($size / $root-font-size * 1rem);
  }
}

@media (min-width: 1200px) {
  .header__title {
    margin-top: calc($size / ($viewport-vidth / 100) * 1vw);
    font-size: calc($size / ($viewport-vidth / 100) * 1vw);
  }
}

.header__scroll {
  display: flex;
  justify-content: center;
  padding: calc($size / $root-font-size * 1rem) 0 calc($size / $root-font-size * 1rem);
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .header__scroll {
    padding: calc($size / $root-font-size * 1rem) 0 calc($size / $root-font-size * 1rem);
  }
}

@media (min-width: 1200px) {
  .header__scroll {
    padding: calc($size / ($viewport-vidth / 100) * 1vw) 0 calc($size / ($viewport-vidth / 100) * 1vw);
  }
}

.footer__header {
  font-size: calc($size / $root-font-size * 1rem);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: calc($size / $root-font-size * 1rem);
  padding: calc($size / $root-font-size * 1rem) 0 calc($size / $root-font-size * 1rem) 0;
  border-top: 1px solid white;
}

@media (min-width: 768px) {
  .footer__header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: flex-start;
    padding: calc($size / $root-font-size * 1rem) 0 calc($size / $root-font-size * 1rem) 0;
    font-size: calc($size / ($viewport-vidth / 100) * 1vw);
  }
}

@media (min-width: 1200px) {
  .footer__header {
    grid-template-columns: repeat(12, 1fr);
  }
}

.footer__info {
  grid-column: span 4;
}

.footer__subscribe {
  grid-column: span 4;
}

.footer__button {
  grid-column: span 4;
  text-align: left;
  transition: var(--fast);
  cursor: pointer;
}

.footer__button:hover {
  opacity: 0.6;
}

@media (min-width: 768px) {
  .footer__button {
    text-align: right;
  }
}

.footer__nav {
  margin-bottom: calc($size / $root-font-size * 1rem);
}

@media (min-width: 768px) {
  .footer__nav {
    margin-bottom: calc($size / ($viewport-vidth / 100) * 1vw);
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: calc($size / $root-font-size * 1rem);
}

@media (min-width: 768px) {
  .footer__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: flex-start;
    grid-gap: calc($size / ($viewport-vidth / 100) * 1vw);
  }
}

@media (min-width: 1200px) {
  .footer__list {
    grid-template-columns: repeat(12, 1fr);
  }
}

.footer__item {
  grid-column: span 4;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .footer__item:first-of-type {
    order: 2;
  }
  .footer__item:nth-of-type {
    order: 1;
  }
  .footer__item:last-of-type {
    order: 3;
  }
}

@media (min-width: 768px) {
  .footer__item {
    grid-column: span 2;
  }
  .footer__item:nth-of-type(2) {
    grid-column: span 4;
  }
  .footer__item:last-of-type {
    grid-row: 1 / 2;
    grid-column: 3 / -1;
    text-align: right;
  }
}

@media (min-width: 1024px) {
  .footer__item {
    grid-column: span 4;
  }
  .footer__item:last-of-type {
    grid-row: auto;
    grid-column: span 4;
  }
}

.footer__subnav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: calc($size / $root-font-size * 1rem);
}

@media (min-width: 768px) {
  .footer__subnav {
    flex-direction: row;
    gap: 0;
  }
}

.footer__link {
  font-size: calc($size / $root-font-size * 1rem);
  text-transform: uppercase;
  color: white;
  text-align: left;
  transition: var(--fast);
}

@media (min-width: 768px) {
  .footer__link {
    font-size: calc($size / ($viewport-vidth / 100) * 1vw);
  }
}

.footer__link:hover {
  opacity: 0.6;
}

.main section:nth-child(odd) article:firt-of-type {
  grid-column: span 4;
}

.main section:nth-child(odd) article:nth-of-type(2) {
  grid-column: span 4;
}

@media (min-width: 1024px) {
  .main section:nth-child(odd) article:nth-of-type(2) {
    grid-column: span 2;
  }
}

.main section:nth-child(odd) article:last-of-type {
  grid-column: span 4;
  grid-column-end: -1;
}

@media (min-width: 1024px) {
  .main section:nth-child(2) article, .main section:nth-child(6) article {
    grid-column: span 6;
    grid-column-end: 10;
  }
}

.main section:nth-child(4) article {
  grid-column: span 4;
}

@media (min-width: 1024px) {
  .main section:nth-child(4) article:first-of-type {
    grid-column: span 3;
  }
  .main section:nth-child(4) article:nth-of-type(2) {
    grid-column: span 4;
    grid-column-end: 9;
  }
  .main section:nth-child(4) article:last-of-type {
    grid-column: span 3;
    grid-column-end: -1;
  }
}

.main section:last-child article {
  grid-column: span 4;
}

@media (min-width: 1024px) {
  .main section:last-child article:first-of-type {
    grid-column: span 3;
  }
  .main section:last-child article:nth-of-type(2) {
    grid-column: span 3;
  }
  .main section:last-child article:nth-of-type(3) {
    grid-column: span 2;
    grid-column-end: 10;
  }
  .main section:last-child article:last-of-type {
    grid-column: span 3;
  }
}

.poster {
  padding: 0 0 calc($size / $root-font-size * 1rem) 0;
}

@media (min-width: 768px) {
  .poster {
    padding: 0 0 calc($size / ($viewport-vidth / 100) * 1vw) 0;
  }
}

.poster__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: flex-start;
  grid-gap: calc($size / $root-font-size * 1rem);
}

@media (min-width: 1024px) {
  .poster__wrapper {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: calc($size / ($viewport-vidth / 100) * 1vw);
  }
}

.poster__item {
  grid-column: span 4;
}

.poster .card {
  opacity: 0;
  transform: translateY(-100px);
  transition: var(--default);
}

.poster.poster--visible .card {
  opacity: 1;
  transform: translateY(0px);
}

.card {
  --card-border: 1px solid white;
}

.card__image {
  padding: calc($size / $root-font-size * 1rem);
  border: var(--card-border);
}

@media (min-width: 768px) {
  .card__image {
    padding: calc($size / $root-font-size * 1rem);
  }
}

.card__description {
  margin: calc($size / $root-font-size * 1rem) 0 0;
  padding: calc($size / $root-font-size * 1rem);
  border: var(--card-border);
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .card__description {
    margin: calc($size / ($viewport-vidth / 100) * 1vw) 0 0;
    padding: calc($size / ($viewport-vidth / 100) * 1vw);
  }
}

.card__title {
  font-size: calc($size / $root-font-size * 1rem);
  line-height: 1.2;
  margin-bottom: calc($size / $root-font-size * 1rem);
}

@media (min-width: 768px) {
  .card__title {
    font-size: calc($size / ($viewport-vidth / 100) * 1vw);
    line-height: 1.2;
    margin-bottom: calc($size / ($viewport-vidth / 100) * 1vw);
  }
}

.card__date {
  opacity: 0.3;
}

.card__info {
  display: flex;
  justify-content: space-between;
  margin-top: calc($size / $root-font-size * 1rem);
  text-align: left;
}

@media (min-width: 768px) {
  .card__info {
    margin-top: calc($size / ($viewport-vidth / 100) * 1vw);
  }
}

@media (min-width: 768px) {
  .card--big .card__image {
    padding: calc($size / $root-font-size * 1rem);
  }
}

.card--small .card__image {
  padding: calc($size / $root-font-size * 1rem);
}

.card--small .card__info {
  flex-direction: column;
  align-items: center;
  gap: calc($size / $root-font-size * 1rem);
  text-align: center;
}

@media (min-width: 768px) {
  .card--reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (min-width: 768px) {
  .card--reverse .card__description {
    margin: 0 0 calc($size / ($viewport-vidth / 100) * 1vw) 0;
  }
}

.card--no-image .card__description {
  margin: 0;
}

.card--one-info .card__info {
  justify-content: center;
}

.card--white {
  background-color: white;
  color: black;
  -webkit-text-stroke: calc($size / $root-font-size * 1rem) black;
}

@media screen and (max-width: 768px) {
  .card {
    opacity: 0;
    transform: translateY(-100px);
    transition: var(--default);
  }
  .card.poster--visible {
    opacity: 1;
    transform: translateY(0px);
  }
}

.subscribe__title {
  margin-bottom: calc($size / $root-font-size * 1rem);
}

@media (min-width: 768px) {
  .subscribe__title {
    margin-bottom: calc($size / ($viewport-vidth / 100) * 1vw);
  }
}

.subscribe__container {
  position: relative;
}

.subscribe__container::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: calc($size / $root-font-size * 1rem);
  height: calc($size / $root-font-size * 1rem);
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='8' viewBox='0 0 17 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.3536 4.35355C16.5488 4.15829 16.5488 3.84171 16.3536 3.64645L13.1716 0.464466C12.9763 0.269204 12.6597 0.269204 12.4645 0.464466C12.2692 0.659728 12.2692 0.976311 12.4645 1.17157L15.2929 4L12.4645 6.82843C12.2692 7.02369 12.2692 7.34027 12.4645 7.53553C12.6597 7.7308 12.9763 7.7308 13.1716 7.53553L16.3536 4.35355ZM0 4.5H16V3.5H0V4.5Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .subscribe__container::after {
    width: calc($size / ($viewport-vidth / 100) * 1vw);
    height: calc($size / ($viewport-vidth / 100) * 1vw);
  }
}

.subscribe__form {
  position: relative;
}

.subscribe__label {
  position: absolute;
  left: 0;
  top: 0;
  font-size: calc($size / $root-font-size * 1rem);
}

@media (min-width: 768px) {
  .subscribe__label {
    font-size: calc($size / ($viewport-vidth / 100) * 1vw);
  }
}

.subscribe__input {
  background-color: transparent;
  outline: none;
  border: 0;
  padding: 0;
  border-bottom: 1px solid white;
  width: 100%;
  height: 25px;
  font-family: inherit;
  font-size: calc($size / $root-font-size * 1rem);
  color: white;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .subscribe__input {
    height: calc($size / ($viewport-vidth / 100) * 1vw);
    font-size: calc($size / ($viewport-vidth / 100) * 1vw);
  }
}

.subscribe__input:focus ~ .subscribe__label,
.subscribe__input:not(:placeholder-shown) ~ .subscribe__label {
  opacity: .65;
  transform: scale(0.9) translateY(-0.75rem);
}
