@media (prefers-color-scheme: dark) {
    body { background: #1e1e1e; color: white; }
}
@media (prefers-color-scheme: light) {
    body { background: #1e1e1e; color: white; }
}
@media (prefers-reduced-motion) {
    * { transition-duration: 0.05s; }
    body {
        scroll-behavior: smooth;
    }
}